@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* For Navbar: */
#navbar {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font: 1em sans-serif;
    background-color: black;
    color: white;
}

.navbar .logo {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.navbar .links {
    display: flex;
}

.links .nav-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 5em;
    color: white;
    background-color: black;
    height: 4.7em;
}

.links .nav-links:hover {
    color: black;
    background-color: white;
}

/* For section introduction myself: */
.welcome-section {
    height: 100vh;
    /* For 100% screen height */
    width: 100vw;
    /* For 100% screen width */
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    background-color: grey;
}

/* For section Projects: */
.projects {
    height: 100vh;
    /* For 100% screen height */
    width: 100vw;
    /* For 100% screen width */
    background-color: beige;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.h2-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    font-weight: bold;
    background-color: rgba(245, 245, 220, 0.521);
}

/* For card project: */
.projects .project-tile {
    height: 50vh;
    width: 25vw;
    margin: 2em;
}

.project-tile .link-project {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.link-project .contentText-link {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 138, 138);
}

.link-project .contentLink-project {
    height: 40vh;
    overflow: hidden;
    object-fit: cover;
    position: relative;
}

.contentLink-project img {
    position: absolute;
    top: -210px;
}


/* For section profile: */
.profile-section {
    height: 50vh;
    /* For 100% screen height */
    width: 100vw;
    /* For 100% screen width */
    background-color: grey;
}

.profile-section a {
    text-decoration: none;
}

.profile-section h2 {
    display: flex;
    justify-content: center;
    padding: 1em;
    color: white;
}

.profile-section hr {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
}

/* For profile links: */
.profile-links {
    height: 30vh;
    display: flex;
}

.profile-link {
    color: white;
    background-color: grey;
    width: 100vw;
}

.profile-link {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-right: 3em;
}

.columns-link {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* For footer site: */
.footer {
    height: 10vh;
    color: white;
    background-color: black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* For media query screen looks like: */
/* For mobile: */
@media only screen and (min-width: 480px) {}

/* For tablet: */
@media only screen and (min-width: 768px) {}

/* For desktop: */
@media only screen and (min-width: 992px) {}